<footer class="footer">
  <div class="footer__wrapper wrapper">
    <img class='footer__rs-logo' src="{{rsLogo}}" alt="RS logo">
    <p>2022</p>
    <div class="footer__information">
      <img class='footer__github-logo' src="{{githubLogo}}" alt="github logo">
      <p>GodPFM</p>
    </div>
  </div>
</footer>
