<section class='main__change-car'>
  <div class='main__create-car'>
    <input class='main__create-car-name' type='text' />
    <input class='main__create-car-color' type='color' />
    <button class='main__create-car-submit'>Create</button>
  </div>
  <div class='main__update-car'>
    <input class='main__update-car-name' type='text' />
    <input class='main__update-car-color' type='color' />
    <button class='main__update-car-submit'>Update</button>
  </div>
  <div class='main__race-controls'>
    <button class='main__race-start'>Race</button>
    <button class='main__race-reset'>Reset</button>
    <button class='main__race-generate'>Generate cars</button>
  </div>
  <div class='main__garage'>
    <div class='main__pagination'>
      <p class='main__page'>Page #<span class='main__page-number'>1</span></p>
      <div class='main__pagination-btns'>
        <button class='main__pagination-btn main__pagination-btn--prev'>Prev</button>
        <button class='main__pagination-btn main__pagination-btn--next'>Next</button>
      </div>
    </div>
    <p class="main__garage-count">
      Garage (<span class="main__garage-count-number"></span>)
    </p>
    <div class='main__race'>
    </div>
  </div>
</section>
