<p>Winners (<span class="winners__count"></span>)</p>
<p>Page #<span class="winners__page-number">1</span></p>
<div class="winners__buttons">
  <button class="winners__button winners__button--prev">Prev</button>
  <button class="winners__button winners__button--next">Next</button>
</div>
<table class="winners__table">
  <tr class="winners__table-head">
    <th>Number</th>
    <th>Car</th>
    <th>Name</th>
    <th class="winners__table-wins">
      <div>
        <p>Wins</p>
        <svg class="winners__win-arrow winners__arrow rotate hidden" data-name="1-Arrow Up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="m26.71 10.29-10-10a1 1 0 0 0-1.41 0l-10 10 1.41 1.41L15 3.41V32h2V3.41l8.29 8.29z"/></svg>
      </div>
    </th>
    <th class="winners__table-best-time">
      <div>
        <p>Best time(seconds)</p>
        <svg class="winners__time-arrow winners__arrow rotate hidden" data-name="1-Arrow Up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="m26.71 10.29-10-10a1 1 0 0 0-1.41 0l-10 10 1.41 1.41L15 3.41V32h2V3.41l8.29 8.29z"/></svg>
      </div>
    </th>
  </tr>
</table>
