.main__car-fire {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 1px;
  object-fit: contain;
  transform: scale(1);
  animation: breathFire 1s infinite;
}

.main__pagination {
  margin-bottom: 10px;
}

.main__create-car-name,
.main__update-car-name {
  color: black;
}

.main__create-car,
.main__update-car {
  margin-bottom: 5px;
}

.main__create-car-submit,
.main__update-car-submit {
  width: 55px;
  height: 21px;
}

.main__update-car-color,
.main__create-car-color {
  max-height: 21px;
}

.main__race-car {
  border-bottom: dashed black 2px;
  margin-bottom: 5px;
}

.main__car-settings {
  display: flex;
}

.main__car-name {
  margin: 0;
}

.main__car-start,
.main__car-stop {
  padding: 0;
  max-width: 25px;
  max-height: 25px;
}

.main__car-start {
  background-color: rgba(17,177,0,1);
  border-radius: 5px;
  border: none;
}

.main__car-start:hover {
  background-color: rgba(17,177,0,0.75);
}

.main__car-start:disabled {
  background-color: rgba(17,177,0,0.5)
}

.main__car-stop {
  background-color: #ff0444;
  border-radius: 5px;
  border: none;
}

.main__car-stop:hover {
  background-color: #a5012b;
}

.main__car-stop:disabled {
  background-color: #ff04445e;
}

.main__car-start-svg,
.main__car-stop-svg {
  max-width: 100%;
}

.main__car-settings-btn {
  margin-right: 10px;
  margin-bottom: 5px;
}

.main__car-images {
  max-height: 40px;
  position: relative;
  left: 0%;
  top: 7px;
}

.main__car-svg {
  max-height: 40px;
  width: 100px;
  position: relative;
}

.main__car-track {
  position: relative;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.main__car-finish-flag {
  max-height: 40px;
}

@keyframes breathFire {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
