* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
}

.main__pagination {
  margin-bottom: 10px;
}

.main__race-car {
  border-bottom: dashed black 2px;
}

.main__car-settings {
  display: flex;
}

.main__car-name {
  margin: 0;
}

.main__car-start.ready {
  background: red;
}

.main__car-settings-btn {
  margin-right: 10px;
}

.main__car-svg {
  max-height: 50px;
  position: relative;
  left: 0%;
}

.main__car-track {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.main__car-finish-flag {
  max-height: 50px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 50%);
  color: white;
}

.footer {
  flex-shrink: 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__rs-logo {
  max-height: 20px;
}

.footer__information {
  display: flex;
}
