* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  flex-shrink: 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__rs-logo {
  max-height: 20px;
}

.footer__information {
  display: flex;
}
